.item {
  border-radius: 47px;
}
.item:hover {
  background: rgba(0, 113, 247, 0.15);
  border-radius: 47px;
  font-weight: bold;
}
.itemColor {
  color: #79889e;
}
.itemColor:hover {
  color: blue;
}

.fadein{
  font-size: medium;
  position: relative;
  overflow: hidden;
  animation: fadein 7s ease-in-out;


}


@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
};