* {
  font-family: "Lora", "Hahmlet", serif;
}
.loading span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255, 205, 119, 0.15);
  background-image: linear-gradient(30deg, rgba(254, 109, 115, 0.15) 12%, transparent 12.9%, transparent 87%, rgba(254, 109, 115, 0.15) 87.9%, rgba(254, 109, 115, 0.15)), linear-gradient(150deg, rgba(254, 109, 115, 0.15) 12%, transparent 12.9%, transparent 87%, rgba(254, 109, 115, 0.15) 87.9%, rgba(254, 109, 115, 0.15)), linear-gradient(30deg, rgba(254, 109, 115, 0.15) 12%, transparent 12.9%, transparent 87%, rgba(254, 109, 115, 0.15) 87.9%, rgba(254, 109, 115, 0.15)), linear-gradient(150deg, rgba(254, 109, 115, 0.15) 12%, transparent 12.9%, transparent 87%, rgba(254, 109, 115, 0.15) 87.9%, rgba(254, 109, 115, 0.15)), linear-gradient(60deg, rgba(65, 155, 224, 0.15) 25%, transparent 25.9%, transparent 75%, rgba(65, 155, 224, 0.15) 75%, rgba(65, 155, 224, 0.15)), linear-gradient(60deg, rgba(65, 155, 224, 0.15) 25%, transparent 25.9%, transparent 75%, rgba(65, 155, 224, 0.15) 75%, rgba(65, 155, 224, 0.15));
  background-position: 0 0, 0 0, 25px 50px, 25px 50px, 0 0, 25px 50px;
  background-size: 50px 100px;
  padding:0 10px;
  border-radius: 47px;
  margin: 0 -0.075em;
  animation: loading 0.7s infinite alternate;
}
.loading span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading span:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
